@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vblack: #242a39;
  --vviolet: #8654ff;
  --vblue: #5775ff;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
  scroll-behavior: smooth;
  color: var(--vblack);
  font-family: "Satoshi", sans-serif;
}

p,
a {
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi", sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

.h-header-sec {
  background: url(../img/home-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 80%;
}

.gradient-head {
  background: -webkit-linear-gradient(311deg, #9e8bff, #5775ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-shadow {
  box-shadow: 0 25px 25px rgb(96 124 255 / 25%);
}

@media (width: 1440px) {
  .h-header-sec {
    height: 70%;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    zoom: 0.99;
  }
}

@media (max-width: 1024px) {
  .h-header-sec {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .h-header-sec {
    background: none;
    height: auto;
  }
}
